body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(1, 82, 148), rgb(1, 56, 100));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.main {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.flex {
  width: 80%;
  margin: 3vw auto;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
h1 {
  text-align: center;
  color: white;
}
input[type="search"] {
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: 1px solid rgb(0, 99, 77);
  background-color: rgb(2, 173, 136);
  padding: 0.9vw;
  font-size: 1vw;
  color: white;
  outline: none;
}
::placeholder {
  font-size: 1vw;
  color: white;
}
.card {
  flex-basis: 24%;
  margin:1%;
  background-color: rgb(2, 173, 136);
  box-sizing: border-box;
  padding: 1vw;
  border-radius: 15px;
  box-shadow: 5px 5px 5px black;
}
.card img {
  width: 100%;
  height: 80%;
}
.card h2 {
  text-align: center;
  font-size: 1.2vw;
}
